.jumbotron {
    margin:0;
    padding: 30px;
    background-image: url(/img/car-1.png);
    background-size: cover;
    background-position: center center;
    color: white;
}
body {
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    font-family: "Quicksand", sans-serif;
}
h4 {
    position: absolute;
    margin-left:-125px
}

.row-content-1 {
    padding: 50px 0;
    min-height: 540px;
}
.row-content-2 {
    padding: 70px;
    min-height: 200px;
}

.row-content-3 {
    padding: 50px 0;
    min-height: 400px;
}
.row-content-4 {
    padding: 50px 0;
    min-height: 200px;
}

.company-footer{
    padding:10px 0;
    min-height: 400px;
    color:white;
    background-color: black;
}
.navbar, .footer-links{
    margin-top: 20px;
    background-color: black;
    color: white
}
  .navbar-dark .navbar-nav .nav-link {
    color: white;
  }
  .last-div {
      letter-spacing: 30px;
      position: relative;
      margin-top: 30px;
      margin-left:-70px
  }
.home-link{
    position: relative;
    margin-top:50px;
    padding: 50px;
    color: white;
}
.phone {
    position:relative;
    margin-top:25px;
    margin-left:50px
}
.mail {
    position:relative;
    margin-top:25px;
    margin-left:20px
}
